<!DOCTYPE html>
<html>
    <head lang="en-us">
        <meta charset="UTF-8">
        <meta name-"viewport" content="width=device-width, initial-scale=1">
        <title>HackNC 2018</title>
        <link rel="shortcut icon" type="image/png" type="image/png" href="static/assets/logo-transparent.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </head>
    <body>
        <div id="content">
            <div class="container">
                <!-- Logo and header -->
                <div class="section">
                    <img id="logo" src="static/assets/CarnivalBanner.png">
                    <h1 id="hacknc" class="center">HackNC</h1>
                    <h5 id="fall2018" class="center">Fall 2018</h5>
                </div>

                <!-- Email form  -->
                <div class="section">
                    <div class="row center">
                        <form method="post" class="center col s12 m8 offset-m2">
                            <div id="email-ifield" class='input-field inline'>
                                <input name='email' id='email' type='email' class='validate' required>
                                <label for='email' data-error='Please enter a valid email.'>Get on our mailing list</label>
                            </div>
                            <button class='btn' id="submit-email"><i class="fas fa-caret-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Response message after email is submitted -->
        {% if msg %}
            <script>
                M.toast({html: '{{ msg }}', displayLength: 5000});
            </script>
        {% endif %}
    </body>
</html>